  <%= form_with(model: message, url: messages_path) do |f| %>
    <%= f.hidden_field :chat_id %>
    <%= f.hidden_field :user_id %>
    <div class='p-4'>
      <%= f.text_area :body,
        class: 'p-2 border-2 border-solid border-blue-500 rounded-md block w-full',
        placeholder: 'Put your message...'
      %>
    </div>
    <div>
      <%= f.submit 'Send Message',
          class: 'px-2 py-1 bg-blue-400 text-white font-semibold rounded hover:bg-blue-500' %>
    </div>
  <% end %>
