<div class="grid grid-cols-3 gap-4">
  <div class="col-span-1">
    <h2>Profile</h2>
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <% if @user.id == current_user.id %>
      <div class="mt-4">
        <%= link_to 'Edit profile', edit_user_registration_path, class: warning_btn_style %>
      </div>
    <% else %>
      <div class="mt-4">
        <% if !Partnership.reacted?(current_user.id, @user.id) %>
          <%= link_to 'Partner request', request_path(partner: @user), class: primary_btn_style %>
        <% else %>
          <p>You are reqesting a partnership to this user.</p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-span-2">
    <h2>Posts</h2>
    <% @user.posts.each do |post| %>
      <%= render partial: post %>
    <% end %>
  </div>
</div>
