<%= turbo_frame_tag 'message-list' do %>
  <% if !messages.nil? %>
    <ul>
      <% messages.each do |message| %>
        <li class="<%= message_class(message) %>" <%= dom_id(message) %>>
          <p><%= simple_format(h(message.body)) %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<div class='mt-10'>
  <%= form_with model: @message, url: create_dm_path do |f| %>
    <%= f.hidden_field :chat_id %>
    <%= f.hidden_field :user_id %>
    <div>
      <%= f.text_area :body,
        class: 'p-2 border-2 border-solid border-blue-500 rounded-md',
        size: "70x5" %>
    </div>
    <div>
      <%= f.submit 'Send Message',
          class: 'px-2 py-1 bg-blue-400 text-white font-semibold rounded hover:bg-blue-500' %>
    </div>
  <% end %>
</div>
