<div class="card shadow body m-3 p-3">
  <div class="card-body">
    <div class="py-2 border-top">
      <div class="my-auto">
        <b><%= post.date.to_fs(:stamp_list_old) %></b>
        <b><%= post.user.name %></b>
      </div>

      <div class="my-auto">
        Date: <%= post.start_time.to_fs(:stamp_list_old) %> ~ <%= post.end_time.to_fs(:stamp_list_old) %>
      </div>

      <div class="my-auto">
        Area: <%= post.area %>
      </div>

      <div class="my-auto">
        <%= tag.span(climb_type(post.kind_of_climbing), class: climb_class(post.kind_of_climbing)) %>
      </div>
    </div>

    <hr>

    <div class="my-auto">
      <%= safe_join(post.description.split("\n"), tag(:br)) %>
    </div>

    <div class="row py-2 border-top">
      <div class="my-auto">
        <div class="d-flex justify-content-end">
          <% if post.user_id == current_user.id %>
            <%= message_link_to(
              chats_path(post_id: post.id),
              'See Conversations',
              'text-blue-500 border border-blue-500 hover:bg-blue-100'
            ) %>
          <% elsif messages?(post_id: post.id, host_user_id: post.user_id, guest_user_id: current_user.id) %>
            <%= message_link_to(
              chat_path(chat_id_by_ids(post_id: post.id, host_user_id: post.user_id, guest_user_id: current_user.id)),
              'Message',
              'bg-blue-400 text-white hover:bg-blue-500'
            ) %>
          <% else %>
            <%= message_link_to(
              new_chat_path(post_id: post.id, host_user_id: post.user_id, guest_user_id: current_user.id),
              'Message',
              'bg-yellow-400 text-white hover:bg-yellow-500'
            ) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
