<div>
  <p><b><%= post.date %></b></p>
  <p><%= post.start_time %></p>
  <p><%= post.end_time %></p>
  <p><%= post.area %></p>
  <p><%= post.kind_of_climbing %></p>
  <p><%= post.description %></p>
  <%#= link_to 'Message', new_message_path(post_id: @post.id, host_user_id: @post.user_id, answerer_user_id: current_user.id), class: 'bg-blue-600 py-3 px-4' %>
</div>
