<h1 class='text-lg'>New Post</h1>

<div class='py-2 mb-2'>
  <%= form_with(model: @post) do |f| %>
    <% if f.object.errors.present? %>
      <div class="text-red-500 border-red-800 font-bold border-2 p-2 mb-2">
        <ul>
          <% f.object.errors.full_messages.each do |e| %>
            <li class='error_message'><%= e %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='p-2 my-2'>
      <%= f.label :date, 'Date' %><br>
      <%= f.date_field :date, class: form_input_style %>
    </div>

    <div class='p-2 my-2'>
      <%= f.time_select :start_time, class: form_input_style %>
       - 
      <%= f.time_select :end_time, class: form_input_style %>
    </div>

    <div class='p-2 my-2'>
      <%= f.label :area_id, 'Area' %><br>
      <%= f.collection_select :area_id, Area.all, :id, :name,
        options = { include_blank: true }, class: form_input_style %>
    </div>

    <div class='p-2 my-2'>
      <%= f.collection_radio_buttons :kind_of_climbing,
        [['trad', 'Trad'], ['sport', 'Sport'], ['bouldering', 'Bouldering'], ['multipitches', 'Multi pitches']],
        :first, :last 
      %>
    </div>

    <div class="description">
      <div class="text-lg font-bold">
        <%= f.text_area :description,
          class: form_input_style,
          size: "100x5"
        %>
      </div>
    </div>

    <div class='p-2 my-2'>
      <%= f.label :pictures, 'Pictures' %>
      <%= f.file_field :pictures, multiple: true %>
    </div>

    <%= f.button :submit, class: 'bg-indigo-700 text-white py-2 px-4 rounded' %>

  <% end %>
</div>
